
html,body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0px;
    padding: 0px; 
    
    font-family: 'Open Sans', sans-serif;    
}
.name {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 2px;
}


.wrapper{
    //background-color: aqua;
    max-width: 75%;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.left,.right{
    //background-color: moccasin;
    margin: 5px;
    max-width: 65%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left{
    align-items: center;
    justify-content: center;
}

.profile-picture{
    border-radius: 70%;
}

.social-links {
  list-style: none;
  padding-left: 0px;
  font-size: 18px;
}

.social-links li {
  display: inline-block;
  margin-right: 8px;
}

.social-links a {
  text-decoration: none;
  padding: 4px;
}


.social-links a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.animate-bottom {
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

.body {
  /*background: linear-gradient(to bottom, rgba(231, 240, 245, 1) 0%, rgba(170, 221, 235, 1) 100%);*/
  background-color:aquamarine
}